.container{
    font-size: 40px;
    height: 100%;
    background-color:LightGray;
    display: grid;
    grid-template-columns: 1fr 100px 2fr;
    grid-template-rows: 50px 50px 50px;
}

.d1{
    background-color: blue;
}

.d2{
    background-color: orange;
}

.d3{
    background-color: cadetblue;
}

.d4{
    background-color: pink;
}
.d5{
    background-color: green;
}
